.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.about-logo {
    width: 30%;
    height: 30%;
}

.about blockquote {
    margin-top: 4rem;
    width: 80%;
    text-align: center;
}

.about blockquote a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.about blockquote p {
    text-align: right;
    font-weight: normal;
}

.end-img {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 60%;
    border-radius: 2rem;
}

.social {
    font-size: 2rem;
    background-color: #ddbea8;
    width: 7rem;
    height: 3rem;
    text-align: center;
    border-radius: 1rem;
}

.social a {
    text-decoration: none;
}

.fa-github-square {
    color: #2d333b;
}

.fa-discord {
    color: #5865f2;
}