@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  font-size: 16px;
  font-family: "Poppins";
  --copper: #cc8a71;
  --ming: #246a73;
  --dark-cyan: #368f8b;
  --champagne: #f3dfc1;
  --desert-sand: #ddbea8;
  --black: #23232e;
  --black2: #23232e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--copper);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--desert-sand);
}

body::-webkit-scrollbar-thumb {
  background: var(--ming);
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

/* NAVBAR */
.navbar {
  position: fixed;
  background-color: var(--black2);
  transition: width 250ms ease;
  width: 5rem;
}

.navbar-nav {
  list-style: none;
  text-decoration: none;
  padding: 2.5rem 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 5rem;
}

.nav-link,
.nav-logo {
  text-decoration: none;
  transition: all 300ms ease;
}

.nav-link {
  display: flex;
}

.logo {
  flex: auto;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 100%;
  transition: all 300ms ease;
}

.logo a img {
  width: 100%;
}

.link-text {
  display: none;
  color: white;
  margin-left: 1rem;
  position: absolute;
  margin-left: 4rem;
  margin-top: 1.2rem;
  text-transform: uppercase;
  width: 10rem;
  transform: scale(0%);
}

.lg2 {
  font-size: 2rem;
  padding: 1rem;
  color: white;
}

/* HEADER */
.ramen-wrapper {
  display: flex;
  align-items:center;
  justify-content: space-around;
}

.ramen-logo {
  width: 12rem;
}

.ramen-wrapper blockquote {
  width: 35%;
  margin-left: -2.5rem;
  padding: 1rem;
}

.ramen-wrapper blockquote p {
  text-align: right;
}

.ramen-search {
  flex: 2;
  padding: 0 2rem;
}

.ramen-search-box {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}
.search-ramen, .search-btn {
  width: 100%;
}

.search-ramen {
  padding: 0 1rem;
  font-size: 1.2rem;
  outline: 0;
  border: 1px solid var(--champagne);
  color: var(--copper);
  border-top-left-radius: 2rem; 
  border-bottom-left-radius: 0.5rem;
}

.search-ramen::placeholder {
  color: var(--copper);
}

.search-btn {
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1rem;
  background-color: var(--champagne);
  color: var(--black);
  border: none;
  border-top-right-radius: 0.5rem; 
  border-bottom-right-radius: 2rem;
  transition: all 400ms ease-in-out;
}

.search-btn i {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.search-btn:hover {
  background: var(--dark-cyan);
}


/* RESULTS AREA */
.ramen-result {
  margin-top: 3rem;
  text-align: center;
}

#ramen {
  margin: 3rem 0;
}

.ramen-item {
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--dark-cyan);
  box-shadow: 0px 12px 30px 4px rgba(0,0,0,0.61);
  margin: 2rem 0;
}

.ramen-img {
  width: 100%;
  display: block;
}

.ramen-img img {
  height: 200px;
}

.ramen-name {
  padding: 1rem 0.5rem;
}

.ramen-name h3 {
  font-size: 16px;
}

.ramen-btn {
  text-decoration: none;
  color: var(--black);
  background-color: var(--copper);
  font-weight: bold;
  padding: 0.75rem 0;
  display: block;
  width: 12rem;
  margin: 1rem auto;
  border-top-left-radius: 2rem; 
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem; 
  border-bottom-right-radius: 2rem;
  transition: all 400ms ease-in-out;
}

.ramen-btn:hover {
  background-color: var(--desert-sand);
}

/* MEDIA QUERY */

@media only screen and (max-width: 600px) {
  /* NAVBAR */
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

  /* HEADER */
  .ramen-wrapper {
    display: flex;
    flex-direction: column;
  }

  .ramen-logo {
    width: 8rem;
  }
    
  .ramen-wrapper blockquote {
    width: 95%;
    padding: 1rem;
  }

  .ramen-search {
    margin: 1rem 0;
  }

  #ramen {
    margin: 0 2.5rem;
  }

  .ramen-img img {
    height: 220px;
  }

}

@media only screen and (min-width: 600px) {
  /* NAVBAR */
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    color: var(--copper);
    transform: scale(100%);
    transition: all 300ms ease;
  }

  .navbar:hover .img-logo {
    transform: translateX(5rem) translateY(5rem) scale(300%);
    transition: all 300ms ease;
  }

  .navbar:hover .lg2{
    color: var(--copper);
  }

  /* HEADER */
  #ramen {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}